body {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.container {
  margin: 10px;
  padding: 10px;
}

/* login form */
.loginForm.container {
  margin: 20px auto;
}
.loginForm h3 {
  text-align: center;
}

/* List */
.bookList .card img.card-img-top {
  height: 200px;
}
.bookList .bookListItem {
  border: 1px solid #d1cbcb;
  padding: 10px;
  width: 80%;
  margin: 16px auto;
  border-radius: 20px;
  box-shadow: 2px 4px #e9e3e3;
}
